@font-face {
  font-family: "Vazirmatn";
  src: url(./assets/fonts/Vazirmatn-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Vazirmatn";
  src: url(./assets/fonts/Vazirmatn-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Vazirmatn";
  src: url(./assets/fonts/Vazirmatn-ExtraBold.ttf);
  font-weight: 800;
}

* {
  font-family: "Vazirmatn", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 576px;
  gap: 16px;
  padding: 32px;
}

.omelette-picture {
  width: 100%;
  overflow: hidden;
}

.omelette-picture img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;

}

.title {
  font-size: 26px;
  font-weight: 800;
  color: rgb(133, 70, 50);
}

.description {
  font-size: 17px;
}

.subtitle {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 12px;
}

.ingredient {
  background-color: rgb(255, 245, 250);
  padding: 12px 16px;
  border-radius: 8px;
}

.instruction {
  padding: 12px 16px;
}

ul , ol {
  list-style-position: inside;
}

li {
  font-size: 15px;
  margin-bottom: 8px;
}

ul {
  list-style-type: square;
}

li::marker {
  color: rgb(138, 70, 50);
}