:root {
  /* colors */
  --buttom-color: #2c7ef8;
  --border-bottom: #ebedef;
}

@font-face {
  font-family: "Yekan Bakh FaNum";
  src: url("./fonts/YekanBakh.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

header {
  font-family: "Yekan Bakh FaNum", sans-serif;
}
