:root {
  --green: rgb(197, 248, 42);
  --white: rgb(255, 255, 255);
  --grey: rgb(51, 51, 51);
  --dark-grey: rgb(31, 31, 31);
  --off-black: rgb(20, 20, 20);
}

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter-Bold.ttf);
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  font-weight: 400;
}

a {
  all: unset;
}

button {
  all: unset;
}

body {
  min-height: 100vh;
  background-color: var(--off-black);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#container {
  gap: 24px;
  width: 80%;
  max-width: 376px;
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  padding: 32px;
  border-radius: 12px;
}

#picture {
  width: 64px;
  height: 64px;
  align-self: center;
  
}

#picture > img {
  width: inherit;
  height: inherit;
  display: block;
  object-fit: cover;
  border-radius: 50%;
}

#information > address {
  font-size: 14px;
  text-align: center;
  color: var(--green);
}

#information > h1 {
  color: var(--white);
  font-size: 19px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4px;
}

#position p {
  font-size: 13px;
  color: var(--white);
  text-align: center;
}

#social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}


#social > .btn {
  display: flex;
  width: 100%;
  padding: 12px 0px;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--grey);
  transition: background-color 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

#social > .btn:hover {
  background-color: var(--green);
}

.btn > a {
  width: inherit;
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
